<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      body {
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <header><%- include('partials/header') %></header>
        <!-- Hero section -->
        <section>
          <div class="relative bg-black h-[90vh] flex flex-col sm:flex-row">
            <img
              src="/images/hero2.jpg"
              alt="hero image womens fashion"
              class="h-full w-full object-cover object-top sm:w-1/2"
            />
            <img
              src="/images/hero1.jpg"
              alt="hero image mens fashion"
              class="hidden sm:block h-full w-full object-cover object-top sm:w-1/2"
            />
            <a
              href="#"
              class="absolute left-1/2 top-2/3 transform -translate-x-1/2 -translate-y-1/2 px-6 py-3 text-black bg-gray-100 hover:bg-black hover:text-white transition-all text-center"
              >Shop</a
            >
          </div>
        </section>
  </body>
</html>
